.pageRatingStars {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.ratingsinfo-mobile {
  color: #72777d;
  float: left;
  font-size: 80%;
  margin-top: 0.1em;
  text-align: center;
  width: 100%;
}

.footer-ratingstars > h3 {
  font-size: 85%;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: uppercase;
  color: #72777d;
}

.ratingstar-mobile {
  width: 16%;
  height: 60px;
  max-width: 70px;
  background-size: contain;
  background-position: center;
}

.ratepage-embed {
  max-width: 95%;
}